
    <div style="padding: 5px; margin:  5px 0 5px 0; display: none; " id="div_budget_delivery_details_edit" class="well no_borders_shadow">

   	    <%= simple_form_for @budget, html: {class: 'form-inline', style: 'margin: 0; padding: 0; '} do |f| %>



					<% @budget_payment_conditions = @budget.payment_conditions.sort_by(&:id) %>

					<% @budget_payment_conditions.each do |payment_condition| %>
			      <%= f.simple_fields_for "payment_condition[]", payment_condition do |p| %>


			    <% end %>


	        <table style="padding: 0; margin: 0; border: 0px solid red; width: 100%; ">
	          <tr>
	            <td width="70px">

	            </td>

	            <td width="90px">
	            </td>


	            <td width="" style="border: 0px solid red; ">

	            </td>
	          </tr>
	        </table>


					<table style="width: 100%; margin-top: 5px; ">
						<tr>
							<td style="border: 0px solid red; " colspan="5">

							</td>
						</tr>


						<tr>
							<td width="340px" style="border: 0px solid red; ">

							</td>
						</tr>


						<tr>
							<td colspan="6">
							</td>
						</tr>


						<tr>
							<td style="border: 0px solid red; padding-top: 10px; " colspan="4">
							
							</td>


	            <td width="80px" style="border: 0px solid red; ">
	              <button style="float: right; margin-top: 10px; " class="btn btn-small btn-primary" name="commit" type="submit" onclick="">
	                <b>confirmar</b>
	                <i id="icon-loading-confirm-customer" class=""></i>
	              </button>
	            </td>
						</tr>
					</table>
					
       	<% end %>
      </div>