      <div id="budget_client_div_show" class="well no_borders_shadow">
      <%#= f.error_notification class: "alert alert-error" %>

        <table style="padding: 0; margin: 0; ">
          <tr>
            <th width="50px">
              <%= t :"activerecord.attributes.customer.tax_number_type#{@budget.customer.tax_number_type}" %>
            </th>

            <td width="">
              <%= @budget.customer.tax_number %>
            </td>

            <td style="text-align: right; ">
              <i style="cursor: pointer; " class="icon icon-pencil" onclick="enable_form(); "></i>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <th width="50px">
              nome
            </th>

            <td>
              <%= @budget.customer.name %>
            </td>
          </tr>
        </table>
      </div>
