
<div id='<%= "div_popover#{budget_product.id}" %>' class="hide">
   Conteúdo do popover.
   <br />
   <br />
   <button onclick="<%= "close_please(#{budget_product.id}); " %>" id='<%= "btn_fechar#{budget_product.id}" %>' class="btn btn-danger" data-dismiss="clickover">Fechar</button>
</div>