
				<% @price_total = 0 %>
				<% @quantity_total = 0 %>


				<% @products.each do |product| %>


					<% budget_product = @budget.budgets_products.find_by_product_id(product.id) %>

					<% @quantity_total = @quantity_total + budget_product.quantity %>


					<% if(product.supplier_price && product.ipi && budget_product.markup && budget_product.quantity) %>
										
						<% price = compute_price(product.supplier_price, product.ipi, budget_product.markup, budget_product.quantity) %>

						<!-- compute totals for price column -->
						<% @price_total = @price_total + price %>
					<% end %>


				<% end %>



				<table id="table_results">
					<tr>
						<th class="td_code">
							<%#= budget_product.length %>
						</th>

						<th class="td_supplier">
						</th>

						<th class="td_description">
						</th>

						<th class="td_width">
						</th>

						<th class="td_supplier_price">
						</th>

						<th class="td_pencil">
						</th>

						<th class="td_quantity">
							<%= @quantity_total %>
						</th>

						<th class="td_markup">
						</th>

						<th class="td_ipi">
						</th>					

						<th class="td_price" align="left">
							<%= number_to_currency(@price_total) %>
						</th>

						<th class="td_delete">
						</th>	
					</tr>
				</table>
