<div class="container" style="margin-top: 50px; border: 0px solid red; ">
  <div class="span4 well" style="margin-left: 320px; border: 0px solid green; ">
      
    <p>
      <b>Name:</b>
      <%= @user.name %>
    </p>

    <p>
      <b>Surname:</b>
      <%= @user.surname %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

  </div>
</div>



