// Place all the styles related to the Budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue_global: #3f7db2;


#budget_client_div {
	
	margin: 0;
	padding: 5px;
	margin-top: 5px;
	//width: 1050px;
	//border: 1px solid black;
	width: 970px;

	/* table */
	table {

	  margin-top: 2px;
	  width: 100%;

	  td {
	  	//border: 1px solid red;
	  	vertical-align: top;

	  	.control-group {
	  		//border: 1px solid green;
	  		margin: 0;
	  		padding: 0;
	  	}
	  }

	  label {
	    text-align: right;
	    padding-right: 10px;
	  }

	  span {
	    //color: #f00;
	    display: block;
	    width: 100%;
	    text-align: center;
	    //padding-left: 70px;
	    //border: 1px solid green;
	  }
	}
}




#products_search_div {
	float:left;
	width: 100%;
	//border: 1px solid red;


	#products_search_form {
		//border: 1px solid red;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;

		form {
			margin: 0;
		}
	}
}


#budgets_products_list {
	float: left;
	width: 100%;
	//height: 430px;
	margin: 0px 0 0 0px;
	padding: 0;

	background-color: #fff;
	//border: 1px solid red;
	//overflow: auto;


	table#table_results {

		background-color: #f5f5f5;

		th {
			background-color: transparent;
			color: $blue_global;
			//border: 1px solid red;
			padding: 5px;
		}
	}

	table {
		width: 100%;

		th {
			background-color: #3f7db2;
			color: #fff;
			//padding: 5px 15px 5px 15px;
			padding: 8px 5px 8px 5px;
			text-align: left;
			//margin-bottom: 10px;
			//border: 1px solid red;
			white-space: nowrap;
		}

		td {
			text-align: left;
			padding: 8px 5px 8px 5px;
			//border: 1px solid #e1e1e1;
			white-space: nowrap;
		}
	}

	table#table_products_list {

}


	#products_list {
		height: 300px;
		overflow: auto;
	}


}



#budget_client_div_show {
	
	padding: 10px;
	margin: 5px 0 20px 0;

	table {
		
		width: 100%;

		th {
			text-align: right;
			padding-right: 10px;
		}

		td {
			text-align: left;
		}

		th, td {
			//border: 1px solid red;
		}
	}
}




#products_search_results_div {
	width: 100%;
	margin: 0px 0 0 0;
	padding: 0;
	
	#products {
		width: 100%;
		height: 150px;
		//border: 1px solid red;
		overflow: auto;
		margin: 0;
		padding: 0;

		table {
			//border: 1px solid red;
			width: 100%;
			//height: 400px;

			th {
				padding: 5px;
				text-align: left;
				color: $blue_global;
			}

			td {
				padding: 5px;
				text-align: left;
			}

		}

	}
}



.border_left {
	-webkit-border-radius: 3px 0 0 3px;
  	 -moz-border-radius: 3px 0 0 3px;
     	    border-radius: 3px 0 0 3px;
}

.border_right {
	-webkit-border-radius: 0 3px 3px 0;
  	 -moz-border-radius: 0 3px 3px 0;
     	    border-radius: 0 3px 3px 0;
}
