<div class="main_content" style="margin: 0px; padding: 10px 0 0 0; border: 0px solid red; ">
	<div class="row">
		<div class="span8 well" style="margin-left: 221px; ">

			<div id="legend" style="padding-bottom: 0px; ">
			    <legend style="border: 0; " class="">Novo Produto</legend>
			</div>

			<%= render 'form' %>

		</div>
	</div>
</div>