<div class="main_container" style="margin-top: 50px; ">
	<div class="row">
		<div class="span6 well" style="margin-left: 221px; ">

			<div id="legend" style="padding-bottom: 0px; ">
			    <legend style="border: 0; " class="">Novo Produto</legend>
			</div>

			<%= render 'form' %>

		</div>
	</div>
</div>