<div class="main_content" style="margin-top: 0px; border: 0px solid red; ">
	<div class="row" style="margin-top: 20px; ">
		<div class="well" style="margin-left: 221px; width: 550px; ">

			<div id="legend" style="padding-bottom: 0px; ">
			    <legend class="" style="border: 0; ">Novo Fornecedor</legend>
			</div>

			<%= render 'form' %>

		</div>
	</div>
</div>