<div class="container" style="margin-top: 50px; ">
	<div class="row">
		<div class="span6 well" style="margin-left: 221px; ">

			<div id="legend" style="padding-bottom: 30px; ">
			    <legend class="">Novo Fornecedor</legend>
			</div>

			<%= render 'form' %>

		</div>
	</div>
</div>