<footer>
  <span class="copyright">
    © <%= Time.now.year %> baway
  </span>

  <span class="powered_by">
	<%= link_to 'http://tiway.net', target: "_blank" do %>
	  engineered at Tiway
    <% end %>
  </span>
</footer>