<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="logo">
      <%= link_to(image_tag('baway_logo1.png', width: '141', height: '45', alt: 'hiway'), suppliers_path) %>
    </div>


    <%# if user_signed_in? %>
      <div class="pull-right" id="right_nav">

      </div>     
    <%# end %>


    <nav>            
      <ul class="nav-pills pull-right">
      </ul>
    </nav>
  </div>
</header>